{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block body %}

<div class="row">

    <h1 class="col-8 offset-2 mt-5 text-center">Accueil</h1>

</div>

<div class="row">
    <div class="col-6 offset-3 my-4">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat error assumenda, esse consectetur optio facere commodi tempora quod cum dolorum ducimus omnis amet et ad consequatur doloremque architecto cupiditate reiciendis.
    </div>
</div>

{% endblock %}