
a.facebook{
    color: #3B5998;
}
a.instagram{
    color: #3f729b;
}
html {
    position: relative;
    min-height: 100%;
}
 
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    }
    
    .map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
/*    background: black;
    color: white;
}*/

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1;
    grid-row: 1;
  }
  .two { 
    grid-column: 2;
    grid-row: 1;
  }
  .three{
    grid-column: 1/3;
    grid-row: 2; 
  }
body{
    background-color: #1b2656;
}
.orange{
    color:#FFAF1C
}
.font{
    font-family: 'Saira Stencil One', cursive;
}

.logo-position{
    position: absolute;
    right: 50px;
    bottom: 100px;
}
@media screen and (max-width: 420px)
{
    .logo-position{
        left : 10px;
    }
}
@media screen and (max-width: 900px)
{
    .logo-position{
        right : 200px;
    }
}