
a.facebook{
    color: #3B5998;
}
a.instagram{
    color: #3f729b;
}
html {
    position: relative;
    min-height: 100%;
}
 
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    }
    
    .map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
/*    background: black;
    color: white;
}*/

body{
    background-color: #1b2656;
}
.orange{
    color:#FFAF1C;
}
.font{
    font-family: 'Saira Stencil One', cursive;
}
.gridy {
    display: grid;
    grid-template-areas: "a b" "c c" ;
    grid-template-columns:  repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.logo-style{
    padding-left: 100px;
    width: 70%;
}
@media screen and (min-width: 420px)
{
    .logo-style{
        position: absolute;
        width : 30%;
        right : 60px;
        bottom: 80px;
    }
}
@media screen and (min-width: 900px)
{
    .logo-style{
        right: 20px;
        bottom: 80px;
        width: 15%;
    }
}


  /* Responsive */
@media (max-width: 600px) {
    .container {
      grid-template-areas: "a" "b" "c";
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  
  .one {
    grid-area: a;
  }
  .two {
    grid-area: b;
  }
  .three {
    grid-area: c;
  }

  a{
      text-decoration: none;
      color: white;
  }

  a:hover{
    text-decoration: none;
    color: white;
  }