
a.facebook{
    color: #3B5998;
}
a.instagram{
    color: #3f729b;
}
html {
    position: relative;
    min-height: 100%;
}
 
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: black;
    color: white;
}